{% extends "index.html" %}

{% block content %}
    <h1>Overview</h1>
    <p>Python for applications features a final project which is based on the python modules studied in the course. Students submit a proposal for the project which must feature several classes/decorators and some research topics.</p>
    <ul>
        <li><a href="/projects">Add and view</a> project proposals</li>
        <li>You can also see a <a href="/report">summary</a> of all the modules mentioned in the proposals</li>
    </ul>
{% endblock %}